* {
    padding: 0;
    margin: 0;
}

body {
    background: url("https://localhost/MyWebsite/HOME%20BG1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    color: white;
}

.navbar {
    padding-left: 15px;
    padding-right: 15px;
    height: 5px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
}

#nb1, #nb2,#nb3 {
    width: 90px;
    height: 35px;
    background-color: rgb(4, 181, 4);
    color: white;
    font-size: 15px;
    border: none;
    margin-top: 20px;
}

#logoimg{
    border-radius: 10px;
    margin-top: 5px;
    width: 150px;
}

#nb1:hover{
    box-shadow: 0 0 10px green,
    0 0 50px green,
    0 0 100px green,
    0 0 400px green;
-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
border-radius: 8px;
}

#nb2:hover{
    box-shadow: 0 0 10px green,
    0 0 50px green,
    0 0 100px green,
    0 0 400px green;
-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
border-radius: 8px;
}

#nb3:hover{
    box-shadow: 0 0 10px green,
    0 0 50px green,
    0 0 100px green,
    0 0 400px green;
-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
border-radius: 8px;
}

#title {
    margin-left: 170px;
    margin-top: -65px;
    color: white;
    font-size: 40px;
}

#nb1 {
    margin-right: 25px;
}

.table-container{
    margin-left: 45%;
    margin-top: 150px; /* Adjust the margin-top value as needed */
}
.button-container {
    text-align: center;
    margin-top: 20px;
}

.neon-button {
    width: 90px;
    height: 35px;
    background-color: rgb(4, 181, 4);
    color: white;
    font-size: 15px;
    border: none;
    margin-top: 20px;
}

.neon-button:hover {
    box-shadow: 0 0 10px green,
    0 0 50px green,
    0 0 100px green,
    0 0 400px green;
-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
border-radius: 8px;
}

.input-container{
    margin-left: 550px; /* Adjust the margin-left value to move the input container */
    align-items: center;
}